<link rel="stylesheet" href="/css/add_project.css">

<section class="" id="project-feed">
   
    <% if(locals.user){%>



        <form class="" action="/project/create" id="new-project-form" method="post">
            <input type="text" name="projectName" placeholder="projectName">
            <textarea name="description" id="" cols="30" rows="10"></textarea>
            <input type="text" name="auther" placeholder="Auther">
           
            <input type="submit" id="addBtn" value="Post">
           
        </form>

        <%} else{ %>
            <h1>you are not signed-in</h1>
        <%} %>
</section>